.container{
    padding:  0 5rem;
    max-width: 1650px;
    margin: 2.188rem auto 0 auto;
    height:100%;
    display: flex;
    justify-content: space-around;
}
.list{
    width: 100%;
    margin: 0 1.9rem;
}

@media (max-width: 1033px) {
    .container{
        flex-direction: column;
        align-items: center;
    }
    .side{
        margin: 1rem 0rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (max-width: 840px) {
    .container{
        padding:  0 2rem;
    }
    .list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 1rem;
    }
}

@media (max-width: 630px) {
    .side{
        flex-direction: column;
        align-items: center;
    }
}